name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Install dependencies
        run: pnpm install

      - name: Run tests (lint + format check)
        run: pnpm run ci
